[submodule "services/analysis/clip2video/CLIP2Video"]
	path = services/analysis/clip2video/CLIP2Video
	url = https://github.com/CryhanFang/CLIP2Video.git
[submodule "services/analysis/clipvip/module"]
	path = services/analysis/clipvip/module
	url = https://github.com/eisneim/clip-vip_video_search
